body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.label, li {
    font-size: 18px;
}

.container {
    display: flex;
}

.sidebar {
    width: 200px;
    background-color: #f0f0f0;
    padding: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    text-decoration: none;
    color: black;
}

.main {
    flex: 1;
    padding: 20px;
    background-color: #f9f9f9;
    margin-left: 200px;
    height: 100vh;
}

.house-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.house {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 300px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.house img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.house h2 {
    font-weight: bold;
    margin-top: 0;
}

.house ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.house li {
    margin-bottom: 10px;
}

.house li:before {
    content: "\2713";
    margin-right: 10px;
    color: #666;
}

form {
    margin-top: 15px;
}

label {
    display: block;
    margin-bottom: 10px;
}

button {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}
