body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.label, li{
    font-size: 18px;
}
.container {
    display: flex;
  }
  
  .sidebar {
    width: 200px;
    background-color: #f0f0f0;
    padding: 20px;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar li {
    margin-bottom: 10px;
  }
  .sidebar a{
    text-decoration: none;
    color: black;
  }
  .main {
    flex: 1;
    padding: 20px;
  }
  
  .dashboard {
    display: block;
  }
  
  .cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  
  .card {
    background-color: #08d8fd;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
  }
  
  .count {
    font-size: 30px;
    font-weight: bold;
  }
  
  .recent-payments,
  .payments-not-done {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
  }