body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  .container {
    display: flex;
    margin: 20px;
  }
  
  .sidebar {
    width: 200px;
    padding: 20px;
    transition: width 0.5s;
    box-sizing: border-box;
    font-size: 22px;
  }
  
  .tab {
    float: left;
    background-color: #f1f1f1;
    width: 30%;
    height: 300px;
  }

  .tab ul:hover{
    width: 150px;
    background-color: #ddd;
  }

  ul{
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
  }

  .sidebar.collapsed {
    width: 50px;
  }
  
  .sidebar.collapsed ul {
    display: none;
  }
  
  .sidebar.collapsed .header {
    justify-content: center;
  }
  
  .sidebar.collapsed .icon {
    font-size: 24px;
    margin-right: 10px;
  }

  a{
    text-decoration: none;
    color: black;
  }

  .content {
    flex: 1;
    padding: 20px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .name {
    font-size: 50px;
    font-weight: bold;
    color: #333;
  }

  .logo{
    margin-top: -20px;
    width: 80px;
    height: 80px;
    float: right;
  }

  .icon {
    font-size: 32px;
    color: #333;
    cursor: pointer;
  }
  
  .icon:hover {
    color: #666;
  }