table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px 15px;
    text-align: left;
}

th {
    background-color: #333;
    color: white;
}

td {
    background-color: #f9f9f9;
}

table tr:hover {
    background-color: #f1f1f1;
}